<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Links</title>
    <link rel="stylesheet" href="./CSS/index.css">
    <script src="https://kit.fontawesome.com/93909da28a.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  </head>
<body>
  <nav class="navbar navbar-expand-lg" style="padding-right:100px ;">
    <div class="logo"></div>
            
    <ul class="container-fluid">
        <li> <a href="./home"> Home </a> </li>
        <li> <a href="./legalQueries"> Legal Queries </a> </li>
        <li> <a href="./summarization"> Legal Summarization </a> </li>
        <li> <a href="./legalResources">Legal Resources</a> </li>
        <li> <a href="./fileqna"> Legal File Q & A </a> </li>
        <li></li>
        <li></li>
        <li></li>
    </ul>

</nav>
</body>
</html>